﻿@model RestaurantBookingSystem.Models.RestaurantMenuViewModel
@{
    ViewBag.Title = "Add";
}
@section head
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<h2>
    Add New Menu Item</h2>
<div class="h-seperator">
</div>
@using (Html.BeginForm("Add", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter details for new menu item</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PictureFileName)
        </div>
        <div class="editor-field">
            <input type="file" id="MenuImage" name="MenuImage" />
            <span class="ui-helper-hidden">@Html.EditorFor(model => model.PictureFileName)</span>
            @Html.ValidationMessageFor(model => model.PictureFileName)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $('#PictureFileName').val($('#MenuImage').val());
    if ($('#Price').val() === '0.00') $('#Price').val('');
    $('#PictureFileName').disableSelection().css({ 'background-color': '#ddd' });
    $('#MenuImage').change(function () {
        $('#PictureFileName').val($(this).val());
    });
</script>
