﻿@model RestaurantBookingSystem.Models.RestaurantMenuViewModel
@{
    ViewBag.Title = "Edit Menu Item";
}
<h2>Edit Menu Item</h2>
@section head
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<div class="h-seperator">
</div>
@using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new {enctype = "multipart/form-data"})) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Details for the Menu Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">            
             @Html.LabelFor(model => model.PictureFileName)
        </div>
        <div class="editor-field">
            <div style="margin: 0px; padding: 0px;">
                <div id="item_previous_image"  class="ui-corner-all" style="border:1px solid #555; margin:6px 8px; width:250px; height:200px;background: #fff url(@Url.Action("GetImage", "Images", new { id = Model.PictureFileName })) 50% 50% no-repeat"/>
            </div>
            <input type="file" id="MenuImage" name="MenuImage" />            
            <span class="ui-helper-hidden">@Html.EditorFor(model => model.PictureFileName)</span>
            @Html.ValidationMessageFor(model => model.PictureFileName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    if ($('#Price').val() === '0.00') $('#Price').val('');
    $('#PictureFileName').disableSelection().css({ 'background-color': '#ddd' });
    $('#MenuImage').change(function () {
        $('#PictureFileName').val($(this).val());
    });
</script>