﻿@using RestaurantBookingSystem.Infrastructure
@using RestaurantBookingSystem.Infrastructure.DataEntities
@model PaginatedList<RestaurantMenuItem>
@* ReSharper disable UnknownCssClass *@
@{
    ViewBag.Title = "Menu Items";
}
@section head{
    <script src="@Url.Content("~/Scripts/RestaurantBookingSystemScripts/RestaurantBookingSystemClientCore.js")"
        type="text/javascript"></script>
}
<h2>
    Menu Items</h2>
<div class="h-seperator">
</div>
<div>
    <table summary="Restaurant OFfers">
        <thead>
            <tr>
                <th style="width: 260px;" scope="col">
                    Item Picture
                </th>
                <th scope="col">
                    Item Details
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@("item_row" + item.ItemId.ToString())">
                    <td><div class="ui-corner-all" 
                    style="border:1px solid #555; margin:5px; display: block; width: 250px; height: 200px; background: transparent url(@Url.Action("GetImage", "Images", new { id = item.PictureFile})) center center no-repeat;"/>
                    </td>
                    <td>
                    <div class="ui-corner-all" style="margin: 5px; height:190px; padding: 5px; border: 1px solid #555; overflow: auto;">
                        <table style="margin: 5px; width: auto !important">
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">ItemId</label></td><td><label>: @item.ItemId</label></td>
                        </tr>
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">Name</label></td><td><label>: @item.Name</label></td>
                        </tr>
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">Description</label></td><td><label style="display: inline-block">: @item.Description</label></td>
                        </tr>
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">Price </label></td><td><label>: Rs. @item.Price /-</label></td>
                        </tr>
                        </table>
                    </div>
                    </td>
                    <td class="table-td-action">
                        <a class="edit_row" 
                            href="@Url.Action("Edit", new { id = item.ItemId })">Edit</a> <a 
                            class="delete_row"  onclick="deleteRow('@Url.Action("Delete")', '@item.ItemId', 'The Menu Item', '@item.Name')">Delete</a>                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination-box">
        <strong>Showing Page @(Model.PageNumber)
            of @(Model.TotalPages > 0 ? Model.TotalPages : 1):</strong> <span class="pagination-box-button-set">
                @if (Model.HasPreviousPage)
                {
                    @Html.ActionLink("Previous", "Index", new { page = Model.PageNumber - 1 }, new { @class = "paginated-list-prev" })
                }
                @if (Model.HasNextPage)
                {
                    @Html.ActionLink("Next", "Index", new { page = Model.PageNumber + 1 }, new { @class = "paginated-list-next" })
                }
            </span>
    </div>
</div>
<div id="dialog-confirm" class="ui-helper-hidden" title="Delete Menu Item?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <span id="dialog-confirm-item-type"></span> "<span id="dialog-confirm-item-name">
        </span>" will be permanently deleted.</p>
    <p style="margin: 0 0px 0px 22px;">
        Are you sure?</p>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.edit_row').button({
            icons: {
                primary: "ui-icon-pencil"
            },
            text: false
        });
        $('.delete_row').button({
            icons: {
                primary: "ui-icon-closethick"
            },
            text: false
        });
        $('.paginated-list-prev').button({
            label: 'Previous',
            icons: {
                primary: "ui-icon-seek-prev"
            }
        });
        $('.paginated-list-next').button({
            icons: {
                secondary: "ui-icon-seek-next"
            },
            label: 'Next'
        });
    });
</script>
@* ReSharper restore UnknownCssClass *@