﻿@using RestaurantBookingSystem.Helpers
@using RestaurantBookingSystem.Infrastructure.DataEntities
@model IEnumerable<BookedRestaurantMenuItem>

@{
    ViewBag.Title = ViewBag.Title ?? "Servings as on";
    var statusdate = Model.Count() > 0 ? @Model.First().BookedFor.TryMakingLocalToClient() : Convert.ToDateTime(Request.Params["fordate"] ?? (object)DateTime.UtcNow.Date.TryMakingLocalToClient());
}

@section head{
    <script src="@Url.Content("~/Scripts/RestaurantBookingSystemScripts/BookingHelper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RestaurantBookingSystemScripts/RestaurantBookingSystemClientCore.js")" type="text/javascript"></script>
}
<h2>Servings as on: <span id = "span_statusason">@statusdate.ToString("dd MMM yyyy")</span></h2>
<div class="h-seperator"></div>
@using (Html.BeginForm("ServingsOn", "Menu"))
{
    <div style="margin: 10px 0px;">
        <span class="editor-label">
            <span>Get Servings for:</span>
        </span>
        <span class="editor-field">
            <input style="min-width: 17em;" id="fordate" name="fordate" type="date" value="@statusdate.ToString("dddd, dd MMM yyyy")" />
            <button id="go">Go</button>
        </span>
    </div>
}
<script type="text/javascript">
    $("#fordate").datepicker({
        minDate: '0D',
        maxDate: '+3M',
        dateFormat: "DD, d MM, yy",
        changeMonth: true
    });
</script>
@if (Model.Count() < 1){return;}

<div>
    <table summary="Booked Menu Items">
        <thead>
            <tr>
                <th style="width: 260px;" scope="col">
                    Item Picture
                </th>
                <th scope="col">
                    Item Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@("item_row" + item.ItemId.ToString())">
                    <td><div class="ui-corner-all r-menu-item-picture" 
                    style="background: transparent url(@Url.Action("GetImage", "Images", new { id = item.PictureFile})) center center no-repeat;"></div>
                    </td>
                    <td>
                    <div class="ui-corner-all" style="margin: 5px; height:190px; padding: 5px; border: 1px solid #555; overflow: auto;">
                        <table style="margin: 5px; width: auto !important">
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">ItemId</label></td><td><label>: @item.ItemId</label></td>
                        </tr>
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">Name</label></td><td><label>: @item.Name</label></td>
                        </tr>
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">Description</label></td><td><label style="display: inline-block">: @item.Description</label></td>
                        </tr>
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">Price </label></td><td><label>: Rs. @item.Price /-</label></td>
                        </tr>
                        <tr>
                            <td><label style="display: inline-block; width: 100px;">Quantity </label></td><td><label>:<strong>@item.Qty</strong></label></td>
                        </tr>
                        </table>
                    </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>