﻿@using RestaurantBookingSystem.Helpers
@using RestaurantBookingSystem.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/base/images/bannericon.png")" rel="icon"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.8.18.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    @RenderSection("head", false)
</head>
<body>
    <div>
        @Html.Partial("ViewNotification", (ActionResultNotification)TempData[TempDataStringResuorce.ActionResultNotification] ?? new ActionResultNotification())
    </div>
    <div class="ui-helper-clearfix main-header-gradient" id="header">
        <div class="ui-helper-clearfix" id="main-header-content">
            <div id="main-header-banner">
            </div>            
            <div id="main-header-container">
                <a id="bookmytable-link" href="@Url.AbsoluteAction("Index", "Home", null)">
                    <div id="bookmytable-link-text">bookmytable</div>
                    <div id="bookmytable-link-detail">The hassel free way to book your table</div>
                </a>
                @Html.Partial("UserLoginStatus")
            </div>            
            @Html.Partial("ApplicationMenu")            
        </div>
    </div>
    <div id="main-body-container">
        <div id="main-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
