﻿@using RestaurantBookingSystem.Infrastructure
@using RestaurantBookingSystem.Infrastructure.DataEntities
@model PaginatedList<RestaurantBooking>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

