body{font-size:75%;font-family:Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;color:#232323;background-color:#fdfdfd;background-image:url(themes/base/images/DEDEDEFDFDFDF6F6F6E8E8E8.png);min-width:980px;margin:0;padding:0;}
/*Basic forms*/
fieldset{border:1px solid #ddd;margin:0 0 1.5em;padding:0 1.4em 1.4em;}
legend{font-size:1.2em;font-weight:700;}
textarea{min-height:75px;}
.editor-label{margin:1em 0 0;}
.editor-field{margin:.5em 0 0;}
.main-header-gradient{background:#f60 url(themes/base/images/headergradient.png) center center repeat-x;}
/*Validation helpers*/
.field-validation-valid,.validation-summary-valid{display:none;}
.field-validation-error{color:red;}
.input-validation-error{border:1px solid red;background-color:#fee;}
.validation-summary-errors{font-weight:700;color:red;}
div.h-seperator{border:1px solid #444;margin:3px auto;}
div.v-seperator{height:294px;border:2px dotted #444;display:inline-block;float:left;margin:10px auto;}
/*Main Layout View*/
#header{height: 200px; min-width: 980px}
#main-header-content{max-width:980px;margin:0px auto 0px auto;padding:0px;position:relative}
#main-header-banner{float:left;display:inline-block;background:transparent url(themes/base/images/bannericon.png);margin:0px 0px -200px 0px;height:255px;width:255px;}
#main-header-container{display:inline-block;float:right;padding:30px 30px 0px 30px;}
#bookmytable-link{text-decoration: none; color: inherit; padding: 0px; margin: 0px;float:right;}
#bookmytable-link-text{font-size: 50px; color: #555; font-family: tahoma; font-weight: bolder;text-decoration: underline}
#bookmytable-link-detail{font-size: 15px; color: #333; font-family:verdana;font-style:normal;text-align:right;}
#main-body-container{min-width: 930px; padding: 30px 10px 10px 10px;}
#main-body{box-shadow: 4px 4px 12px 6px rgba(0,0,0,0.3); -moz-box-shadow: 4px 4px 12px 6px rgba(0,0,0,0.3); border: 3px solid #555; border-radius: 10px; -moz-border-radius: 10px; margin: 0px auto 0px auto; padding: 20px; width: 900px; min-height: 400px; overflow: auto; background-color: #ff6734; background-repeat: repeat-x;background-image: url(themes/base/images/bodygradient.png);background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f63),color-stop(0.99,#fc9));background-image: -moz-linear-gradient(center bottom,#f63 0%,#fc9 99%);}
/*User Login Status*/
div.user-loginstatus{clear: both;right: 3px;display: inline-block;float: right;margin: 15px 0px 0px 0px;padding: 5px;opacity: 0.9;filter:alpha(opacity=90);}
span.user-loginstatus-text{font-size: 1.2em;}
span.user-loginstatus-text a{color:#ff1290;text-decoration:none;}
/*Pagination*/
.pagination-box-button-set{float:right;clear:both;}
.pagination-box{display:inline-block;width:884px;font-size:14px;font-weight:400;background-color:#fff;color:#039;border-bottom:2px solid #6678b1;border-top:2px solid #6678b1;position:relative;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;padding:10px 8px;}
/*Table*/
table{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;background:#fff;width:900px;border-collapse:collapse;text-align:left;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
table th{font-size:14px;font-weight:400;color:#039;border-bottom:2px solid #6678b1;padding:10px 8px;}
table td{border-bottom:1px solid #ccc;color:#669;padding:6px 8px;}
table tbody tr:hover td{color:#009;}
.table-td-action{min-width:80px;margin:0;padding:4px 0;}
/*Facebook & Register Button*/
.facebook-connect-button{background:transparent url(themes/base/images/facebookandregister.png) 0 -83px no-repeat;}
.register-button{background:transparent url(themes/base/images/facebookandregister.png) 0 0 no-repeat;}
.facebook-connect-button,.register-button{width:330px;height:82px;border:0;display:block;cursor:pointer;margin:30px auto 0;padding:0;}
/*Main Menu*/
.menu-container{border:0;font:67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;font-size:14px;font-weight:700;position:absolute;right:0;top:163px;margin:0 30px 0 0;padding:0;}
.menu-container ul{background:#333;height:35px;list-style:none;border:1px solid #333;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;margin:0;padding:0;}
.menu-container li{float:left;padding:0;}
.menu-container li a{background:#333 url(themes/base/images/seperator.gif) bottom right no-repeat;color:#ddd;display:block;font-weight:400;line-height:35px;text-align:center;text-decoration:none;margin:0;padding:0 25px;}
.menu-container li a:hover,.menu-container ul li:hover a{background:#2580a2 url(themes/base/images/hover.gif) bottom center no-repeat;color:#FFF;text-decoration:none;}
.menu-container li a:hover{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.ul-sub-menu li:hover a{-moz-border-radius:4px!important;-webkit-border-radius:4px!important;border-radius:4px!important;}
.menu-container li ul{background:#333;display:none;height:auto;position:absolute;width:225px;z-index:200;border:1px solid #333;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;opacity:0.85;-moz-opacity:0.85;-webkit-opacity:0.85;filter:alpha(opacity=85);margin:0;padding:0;}
.menu-container li:hover ul{display:block;}
.menu-container li li{background:url(themes/base/images/sub_sep.gif) bottom left no-repeat;display:block;float:none;width:225px;margin:0;padding:0;}
.menu-container li:hover li a{background:none;}
.menu-container li ul a{display:block;height:35px;font-size:12px;font-style:normal;text-align:left;margin:0;padding:0 10px 0 15px;}
.menu-container .ul-sub-menu-last{margin:0 0 0 -121px;}
.menu-container li ul a:hover,.menu-container li ul li:hover a{background:#2580a2 url(themes/base/images/hover_sub.gif) center left no-repeat;border:0;color:#fff;text-decoration:none;}
.menu-container .a-menu-selected{background:#333 url(themes/base/images/hover_act.gif) bottom center no-repeat!important;color:#fff;border:0;text-decoration:none;}
.menu-container .a-sub-menu-selected{background:#333!important;border-right:solid #4a4!important;color:#fff;text-decoration:none;border-width:0 6px 0 0 !important;}
.menu-container p{clear:left;}
/*Booking Step Advertisement*/
p.booking-easy-text{font-size:20pt;text-align:center;float:left;width:532px;background:#333;color:#ddd;position:relative;border:1px solid #333;margin:4px 0;padding:5px;}
div.booking-step-advertisement{float:left;width:542px;height:182px;position:relative;border:1px solid #333;}
div.booking-step-wrapper{float:left;position:relative;}
div.booking-step{background:transparent url(themes/base/images/bookingstep123.png) center center no-repeat;width:170px;height:170px;position:relative;margin:5px;}
div.booking-step span{position:absolute;left:45px;top:10px;font-size:120px;}
div.booking-step-advertisement-detail{float:left;width:542px;position:relative;}
div.booking-step-wrapper-detail{height:56px;width:170px;border:1px solid #333;float:left;position:relative;text-align:center;font-weight:700;margin:4px 0;padding:3px;}
div.booking-step-wrapper-detail-first{margin:4px 4px 1px 0 !important;}
div.booking-step-wrapper-detail-last{margin:4px 0 1px 4px !important;}
/*Menu Advertisement*/
#r-menu-items-advertisement-warpper{float: right; width: 340px; background: #333; height: 300px;overflow: hidden;margin: 4px 0;}
.r-menu-item-advertisement-container{margin:10px auto;padding:5px;height:265px;width:262px;}
/*Table Status Div*/
#div_table_status{background:#fee;border:2px solid #333;padding:30px;}
.table-booking-status{opacity:0.80;-moz-opacity:0.80;-webkit-opacity:0.80;filter:alpha(opacity=80)}
.table-booking-status:hover{opacity:1.0;-moz-opacity:1.0;-webkit-opacity:1.0;filter:alpha(opacity=100);cursor:pointer}
/*New Booking Step Div*/
.new-booking-warpper-step{border:1px solid #555;min-height:350px;position: relative;}
.new-booking-button-box{margin:10px 0px 0px 0px;}
#booking_step_back,#booking_slot_prev_button{ float:left;padding:0 20px;}
#booking_step_next,#booking_slot_next_button{float:right;padding:0 20px;}
#booking_slot_prev_button .ui-button-text{padding: 0em 1em 0em 2.1em;font-weight:normal}
#booking_slot_next_button .ui-button-text{padding: 0em 2.1em 0em 1em;font-weight:normal}
.ui-date-time-warpper{display:block;margin:10px auto;width:564px;}
#booking_timepicker, #booking_datepicker_wrapper{height:250px;width:250px;overflow:auto;margin:10px;float:left;padding: 5px;}
#booking_timepicker li{ list-style: none;padding: 5px 0px 5px 20px;cursor: pointer}
#select_booking_slots{margin:3px 10px;}
#select_booking_slots .ui-button-text{width:62px;}
.r-menu-item-picture{border:1px solid #555;margin:5px;display:block;width:250px;height:200px;}
#r-menu-items-warpper{overflow:auto;max-height: 550px;}
.r-menu-item-container{float:left;margin:5px 10px;padding:5px;height:265px;width:262px;}
.r-menu-item-container-hover{background: #999 !important;cursor: pointer}
.menu-item-nameprice-wrapper{margin:5px;width:242px;height:40px;background:#fff;padding: 5px;overflow: hidden;}
.menu-item-nameprice{ float: left;width:200px;}
.item_checkbox{height:30px;width: 30px;background-image:url(themes/base/images/checksprite.png);background-color: transparent;}
.r-menu-unchecked{ background-position:0 1px}
.r-menu-checked{background-position:0 -30px}
/*Account Detail*/
.account-detail-header{width:700px;border:1px solid #777;background-color:#ff7700;color:#fff;margin:15px auto 0px auto;}
.account-detail-block{display:block;width:700px;margin:0px auto 10px auto;border:1px solid #777; border-top:none}
.p-details-row,.account-detail-block,.account-detail-header{padding:5px 10px;}
.p-details-row span{margin-left:20px;display:inline-block;max-width:500px;}
.p-detail-label{display:inline-block;min-width:150px;font-weight:700}