﻿@using RestaurantBookingSystem.Models
@model HomeViewModel
@{
    ViewBag.Title = "Index";
    var menuitemscount = 0;
}

@if (Model.AdvertisementsList.Count() > 0)
{
	<div class="ui-helper-clearfix" style="height:436px; width: 900px; display:block">
	    @Html.Partial("AdvertisementSlider", Model.AdvertisementsList)
	</div>
}
<div class="ui-helper-clearfix">
<div style="float: left; width: 540px;">
<p class="ui-corner-all booking-easy-text">Now Booking your Table is just</p>
<div class="ui-corner-all ui-helper-clearfix booking-step-advertisement">
    <div class="booking-step-wrapper">
        <div class="booking-step">
            <span>1</span>
        </div>
    </div>
    <div class="booking-step-wrapper">
        <div class="booking-step">
            <span>2</span>
        </div>
    </div>
    <div class="booking-step-wrapper">
        <div class="booking-step">
            <span>3</span>
        </div>
    </div>
</div>
<div class="ui-helper-clearfix booking-step-advertisement-detail">
    <div class="booking-step-wrapper-detail booking-step-wrapper-detail-first ui-corner-all main-header-gradient">
        <p>Select a Date and a Time of Your Choice</p>
    </div>
    <div class="booking-step-wrapper-detail ui-corner-all main-header-gradient">
        <p>Choose the tables you want to Book</p>
    </div>
    <div class="booking-step-wrapper-detail booking-step-wrapper-detail-last ui-corner-all main-header-gradient">
        <p>Confirm your booking and checkout</p>
    </div>
</div>
</div>
@if (Model.RestaurantMenuItems.Count() > 0)
{
    <div id="r-menu-items-advertisement-warpper" class="ui-corner-all">
    @foreach (var menuitem in Model.RestaurantMenuItems)
    {
        ++menuitemscount;
        <div id="r-menu-advertisement@(menuitemscount)" class="r-menu-item-advertisement-container ui-corner-all ui-widget-content">
        <div class="ui-corner-all r-menu-item-picture" 
                style="background: transparent url(@Url.Action("GetImage", "Images", new {id = menuitem.PictureFile})) center center no-repeat;"></div>
        <div class="ui-corner-all">
        <span style="display:block;margin:5px 3px;">@menuitem.Description</span>
        </div>
        </div>
        
    }
    </div>
}
</div>
@section head
{
    <link href="@Url.Content("~/Content/nivo-slider/nivo-slider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/nivo-slider/themes/default/default.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.nivo.slider.pack.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var currentmenuitem = undefined;
        $(document).ready(function() {
            var menuitemscount = @(menuitemscount) ;
            if (menuitemscount > 0) {
                currentmenuitem = 1;
                var prevmenu;
                setInterval(function() {
                    if(prevmenu)prevmenu.detach();
                    $('#r-menu-items-advertisement-warpper').append(prevmenu);
                    $(prevmenu).show();
                    $('#r-menu-advertisement' + currentmenuitem).slideUp(700);
                    prevmenu = $('#r-menu-advertisement' + currentmenuitem);
                    if(++currentmenuitem > menuitemscount) {currentmenuitem = 1;}
                }, 5000);
            }
        });
        
        (function() {
            if (document.cookie.match('_utz__') === null) {
                document.cookie = document.cookie + '_utz__=' + new Date().getTimezoneOffset() + ';';
            }
        })();
    </script>
}