﻿@using RestaurantBookingSystem.Models
@model UpdateOfferModel
@{
    ViewBag.Title = "Update Offer";
}
<h2>Update Offer</h2>
@section head
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<div class="h-seperator">
</div>
@using (Html.BeginForm("Edit", "Offers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter Updated Details for the Offer</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ValidTill)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValidTill)
            @Html.ValidationMessageFor(model => model.ValidTill)
        </div>
        @if (Model.PublishedBy == UpdateOfferModel.PublishedVia.Advertisement)
        {
            <div class="editor-label">
                <label for="OfferImage">
                    Image for Advertisement</label>
            </div>
            <div style="margin: 0px; padding: 0px;">
                <div id="offer_previous_image"  class="ui-corner-all" style="margin:6px 8px; width:auto; height:300px;background: #fff url(@Url.Action("GetImage", "Images", new { id = ViewBag.PictureFileName })) 50% 50% no-repeat"/>
            </div>
            <div class="editor-field">
                <input type="file" id="OfferImage" name="OfferImage" />
            </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>