﻿@using RestaurantBookingSystem.Helpers
@model RestaurantBookingSystem.Models.LogOnModel

@{
    ViewBag.Title = "LogIn";
    var facebooksignupurl = FacebookHelper.GetSignUpUrl(AppConfigHelper.FacebookAppId, new List<string> { "email" }, Url.AbsoluteAction("Authorize", "OAuth", null), TempData).AbsoluteUri;
}

<h2>LogIn</h2>
@section head
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<div class="h-seperator"></div>
<div style="width: 445px; margin: 0px; height: 300px; float: left; overflow: hidden;">
    <button class="facebook-connect-button" onclick="document.location = '@facebooksignupurl'"></button>
    <p style="margin: 0px auto 0px auto; text-align: center">Are you on Facebook ? <br>Then you don't need to SignUp just, click on above button to Login.</p>
    <button class="register-button" onclick="document.location = '@Url.Action("Register", "Account")'"></button>
    <p style="margin: 0px auto 0px auto; text-align: center">Don't have an Account ? <br>No problem, just click on Register to SignUp for a free account</p>
</div>
<div class="v-seperator"></div>
<div class="ui-corner-all ui-helper-clearfix ui-widget" style="width: 445px; margin: 0px; height: 300px; float: left;">
<div class="ui-corner-all" style="margin: 20px auto 0px auto; width: 350px;">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter your Login Details</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RememberMe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RememberMe)
            @Html.ValidationMessageFor(model => model.RememberMe)
        </div>

        <input type="hidden" id="utz" name="utz" value=""/>

        <p>
            <button id="input_login" type="submit" value="Login" >Login</button>
        </p>
    </fieldset>
}
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#input_login').button({
            icons: {
                primary: 'ui-icon-person',
                secondary: "ui-icon-key"
            }
        });
        $('#utz').val(new Date().getTimezoneOffset());
    });
</script>