﻿@using RestaurantBookingSystem.Models
@model RegisterGuest
@{
    ViewBag.Title = "Sign In";
}
@section head
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<h2 style="text-align: center">You are not Signed in !</h2>
<div class="h-seperator"></div>
<div style="width: 445px; margin: 0px; height: 300px; float: left; overflow: hidden;">
    <button class="register-button" onclick="document.location = '@Url.Action("Register", "Account", new { returnurl = Request["returnurl"] })'"></button>
    <p style="margin: 0px auto 0px auto; text-align: center">Don't have an Account ? <br>No problem, just click on Register to SignUp for a free account</p>
    <p style="margin: 20px auto 0px auto; text-align: center"><button id="goto_login" type="button" onclick="document.location = '@Url.Action("LogIn", "Account", new {returnurl = Request["returnurl"]})'">Go to Login</button></p>
    <p style="margin: 15px auto 0px auto; text-align: center">Already have an Account with us? <br>Then just go to login and Sign In with your account</p>
</div>
<div class="v-seperator"></div>
<div class="ui-corner-all ui-helper-clearfix ui-widget" style="width: 445px; margin: 0px; height: 300px; float: left;">
<div class="ui-corner-all" style="margin: 20px auto 0px auto; width: 350px;">
@using (Html.BeginForm())
{
    <p style="margin: 10px auto 15px auto; text-align: center">If you don't want to login then alteast give us your Name and Mobile number and continue as a Guest user</p>
    <fieldset>
        <legend>Enter details</legend>
        <div class="editor-label">
            @Html.LabelFor(g => g.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(g => g.UserName)
            @Html.ValidationMessageFor(g => g.UserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(g => g.MobileNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(g => g.MobileNumber, new { digits = true })
            @Html.ValidationMessageFor(g => g.MobileNumber)
        </div>
        <p>
            <button id="guest_submit" type="submit" value="Continue as Guest">Continue as Guest</button>
        </p>
    </fieldset>
}
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#guest_submit').button({
            icons: {
                primary: 'ui-icon-person',
                secondary: "ui-icon-seek-next"
            }
        });
        $('#goto_login').button({
            icons: {
                primary: 'ui-icon-person',
                secondary: "ui-icon-key"
            }
        });
    });
</script>